html {
  height: 100%;
  max-width: 100%;
  font-size: var(--fontSize);
}
/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--bgColor);
    border: 4px solid transparent;
    
    /*background-clip: content-box;   /* THIS IS IMPORTANT */
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--secbgColor);
    border-radius: 5vw;
}
:root{
  --bgColor : #620096;
  --secbgColor : #9c4cc7;
  --fontColor : #fff;
  --fontCode : monospace;
  --fontText : cursive;
  --buttonradii : .4rem;
  --buttonHeight : 3rem;
  --fontSize : 1.1rem;
}
body{
  overflow-x: hidden;
  background: var(--bgColor);
  color : var(--fontColor);
  font-family: var(--fontText);
  max-width: 100vw;
}
nav{
  display: grid;
  grid: repeat(3,5rem)/100%;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--fontCode);
}

#logoImg{
  width: 3rem;
  aspect-ratio: 1;
  animation: anim_logo 5s 0s infinite linear forwards;
}

@keyframes anim_logo{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

nav ul li{
  list-style-type: none;
  color: var(--fontColor);
  
}


nav ul:nth-child(n){
  display: grid;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}
nav ul:nth-child(1){
  display: grid;
  grid: auto/50% 50%;
  justify-content: space-between; 
}
nav ul form{
  display : grid;
  grid: var(--buttonHeight)/70% 30%;
  grid-gap: 2vw;
  justify-content: space-around;
}
nav ul form input{
  background: var(--secbgColor);
  color: var(--fontColor);
  border: none;
  border-radius: var(--buttonradii);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--fontColor);
  opacity: .6;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--fontColor);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--fontColor);
}

.main{
  display: grid;
  grid:  auto/60% 40%;
  
}

@keyframes animScaleUp{
  0%{
    scale: 0;
  }
  50%{
    scale:1;
  }
  100%{
    scale: .90;
  }
}
.profileInfo h2{
  scale: 0;
  animation: animScaleUp 2s 1 forwards;
}
.skills{
  display: grid;
  grid: repeat(3,var(--buttonHeight))/auto auto;
  grid-gap: .4rem;
}
.skills button{
    border: none;
    border-radius: var(--buttonradii);
  grid-gap: .1rem;
  background: var(--secbgColor);
  color: var(--fontColor);

}
.skills button:nth-child(n){
  scale: 0;
  font-size: var(--fontSize);
}

.skills button:nth-child(1){
  animation: animScaleUp 1s 1 0s forwards;
}
.skills button:nth-child(2){
  animation: animScaleUp 1s 1 500ms forwards;
}
.skills button:nth-child(3){
  animation: animScaleUp 1s 1 1000ms forwards;
}
.skills button:nth-child(4){
  animation: animScaleUp 1s 1 1500ms forwards;
}
.skills button:nth-child(5){
  animation: animScaleUp 1s 1 2000ms forwards;
}

/*picture animation*/
@keyframes animImg{
  0%{
    scale:1;
  }
  50%{
    scale: .88;
  }
  100%{
    scale: 1;
  }
}

/*picture animation ends*/

/*My picture styling goes here*/
.myImg{
  background-image: url("dp.png");
  background-size: contain;
  background-repeat: no-repeat;
  scale: 0;
  animation: animScaleUp 2s 1 linear forwards,animImg 2s 2s infinite linear forwards;
}
/*My picture styling ends here*/

/*animation for profile description*/
@keyframes animProfileDrc{
  0%{
    max-width: 0;
    height : 0;
  }
  100%{
    max-width: 100%;
    height : auto;
  }
}

/*profile description style here*/
.profileDrc{
  font-size: var(--fontSize);
  font-family: var(--fontCode);
  max-width: 0%;
  height: 0;
  background: var(--secbgColor);
  padding: 1rem;
  border-radius: .6rem;
  display: none;
  animation: animProfileDrc 1s 1 
  linear forwards;
}


/*animation for projects slides*/
@keyframes animProject{
  0%{
    scale: 0;
  }
  100%{
    scale: 1;
  }
}

/*projects div styling goes here*/
.projects{
  font-size: var(--fontSize);
  display: none;
  grid: repeat(3,7rem)/100%;
  grid-gap: 1rem;
  margin : 1rem 0;
  transform: translateX(0);
  animation: animProject 1.5s 1 linear forwards;
  scale: 0;
}

.projects .projectBox{
  background: var(--secbgColor);
  border-radius: 1rem;
  border-left: solid .51rem white;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pBg{
  display: grid;
  grid: auto/25% 75%;
  grid-gap: .2rem;
  padding: 0 1rem;
  opacity: 1;
  color: black;
}
.pBg:hover{
  background: grey;
  opacity: .7;
  font-weight: bold;
}

.projects .projectBox:nth-child(1):hover{
  background-image: url("p1.webp");
  background-size: cover;
  background-repeat: no-repeat;
   
}
.projects .projectBox:nth-child(2):hover{
  background-image: url("p2.webp");
  background-size: cover;
   background-repeat: no-repeat;
}
.projects .projectBox:nth-child(3):hover{
  background-image: url("p3.webp");
  background-size:cover;
   background-repeat: no-repeat;
}

/* SCROLLBAR */
.projects div:nth-child(n)::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.projects div:nth-child(n)::-webkit-scrollbar-track {
    background: var(--bgColor);
    border: 4px solid transparent;
    background-clip: content-box;   
}

/* Handle */
.projects div:nth-child(n)::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5vw;
}
/*projects stlying ends here*/

/*footer styling from here*/
footer{
  margin: .5rem 0;
  padding: .42rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background: var(--secbgColor);
  border-radius: var(--buttonradii);
}
.contact{
  display: grid;
  grid: repeat(3,auto)/auto;
  grid-gap: .5rem;
  margin: auto;
  justify-content: centre;
}
.logo img{ 
  width: 3rem;
  aspect-ratio: 1;
  margin: auto;
}
.footer-info{
  font-family: var(--fontCode);
  margin: auto;
}
a{
  text-decoration: none;
  color: white;
}
